@reference "../../../index.css";

h1 {
	@apply text-3xl font-bold mb-4;
}

h2 {
	@apply text-2xl font-semibold mb-3 mt-6;
}

h3 {
	@apply text-xl font-semibold mb-2 mt-4;
}

p {
	@apply mb-4;
}

ul,
ol {
	@apply list-disc list-inside mb-4;
}
li {
	@apply mb-2;
}
